.nav-header{
    width: 695px;
    height: 50px;
    position: fixed;
    background-color: royalblue;
    left: 50%;
    margin-left: -347.5px;
    z-index: 10;
    opacity: 0.6;
}
.nav-header .nav-map{
    width: 150px;
    height: 50px;
    float: left;
    background-color: salmon;
}
.header{
    background-image: url(79cc66862a95704652df8c41b269afdd.png);
    width: 695px;
    height: 189px;
    background-size: 695px 189px;
    background-color:  #00BFBF;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
}
.theme{
    position: absolute;
    left: 80px;
    bottom: 30px;
    font-weight: 800;
}
.main-part{
    width: 695px;
    height: 1000px;
    background-color: #AAEAEA;
    margin: 0 auto;
    border-radius: 2.5rem;
    position: relative;
}
.new-time{
    position: absolute;
    top: 23px;
    left: 55px;    
}
.main-part1{
    width: 599px;
    height: 230px;
    background-color: #CEEEEE;
    border-radius: 2.5rem;
    position: absolute;
    top: 60px;
    left: 48px;
}
#exist-dia{
    position: absolute;
    width: 170px;
    height: 80px;
    top: 23px;
    left: 45px;
    
}
#exist-sus{
    position: absolute;
    width: 170px;
    height: 80px;
    top: 23px;
    left: 215px;
}
#exist-sev{
    position: absolute;
    width: 170px;
    height: 80px;
    top: 23px;
    left: 385px;
   
}
#all-dia{
    position: absolute;
    width: 170px;
    height: 80px;
    top: 126px;
    left: 45px;
    
}
#all-cure{
    position: absolute;
    width: 170px;
    height: 80px;
    top: 126px;
    left: 215px;
    background-color: firebrick;
}
#all-dead{
    position: absolute;
    width: 170px;
    height: 80px;
    top: 126px;
    left: 385px;
    background-color: lawngreen;
}
.nominate{
    text-align: center;
    font-size: 18px;
    font-weight: 550;
}
#exist-dia-num{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: -10px;
    color: #FF6A57;
    border-right:0.5px solid rgba(0,0,0,0.8);
}
.compare-num{
    text-align: center;
    font-size: small;
    font-weight: 300;
    border-right:0.5px solid rgba(0,0,0,0.8); 
    
}
.nav{
    position: absolute;
    width: 599px;
    height: 40px;
    left: 48px;
    background-color: #CEEEEE;
    top: 310px;
    border-radius: 1rem;
}
.nav-left{
    float: left;
    width: 299.5px;
    height: 40px;
    
    border-radius: 1rem;
}
.nav-right{
    float:left;
    width: 299.5px;
    height: 40px;
    
    border-radius: 1rem;
}
.nav-name{
    margin-top: 8px;
    text-align: center;
    font-size: large;
}
.nav-right:hover{
    background-color: #fff;
}
.nav-left:hover{
    background-color: #fff;
}
.echarts1{
    position: absolute;
    width: 599px;
    height: 400px;
    left: 48px;
    background-color: #CEEEEE;
    top: 360px;
    border-radius: 1rem;
}
